<%= form_for(@risk) do |f| %>
  <% if @risk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@risk.errors.count, "error") %> prohibited this risk from being saved:</h2>

      <ul>
      <% @risk.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 


  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :date_from %><br />
    <%= f.date_select :date_from %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </div>

  <div class="field">
    <%= f.label :time_from %><br />
    <%= f.time_select :time_from %>
  </div>

  <div class="field">
    <%= f.label :type_id %><br />
    <%= f.select :type_id, Type.all.map { |x| [x.name, x.id] } %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br />
    <%= f.select :location_id, Location.all.map { |x| [x.name, x.id] } %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
