<%= form_for(@risk) do |f| %>
  <% if @risk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@risk.errors.count, "error") %> prohibited this risk from being saved:</h2>

      <ul>
      <% @risk.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :date_from %><br />
    <%= f.date_select :date_from %>
  </div>
  <div class="field">
    <%= f.label :time_from %><br />
    <%= f.time_select :time_from %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
