    <h1>Listing risks</h1>
    <hr>



    <div>
       


    <table>
     <caption> <h4>Filter </h4> 
    </caption>
    

    <%= form_tag risks_url, :method => :get do %>
    <%= text_field_tag :search_term, params[:search_term] %>
    <%= submit_tag "Search" %>
<% end %>

<hr>
 
     <thead>
      <tr>
       <th id="n"> 
       <th> 
       <th> 
     <tbody>
 
       <%= form_tag risks_url,  :action => "search" , :method => :get  do   %>
       <tr>    
       <td headers="n r1"> <label for="name"> risk type: </label>
       <th>  <%  types= Type.all %>
          
      <%= select_tag "selected_type", options_from_collection_for_select(types,  "id", "name") %>
         

      <tr>
       <td headers="n r2"> <label for="website"> Location Name: </label> 
       <%  locations= Location.all %>
      <th>   <%= select_tag "selected_location", options_from_collection_for_select(locations,  "id", "name") %>
    
       <tr>
       <td> <label for="name">  Begin date: </label>
      
        
       <td>  <%=  date_select("arisks", "beginning in", :start_year => 2013 )  %> 

        
    

        <tr>
        <td> <%= submit_tag "Filter" %>
          <% end %>
       
    </table>
    
    

  
  
    <br>
    <hr>
    
    
    <div>
      
  
  
</div>
    

    </div>

    <table>
    <div> 
    <form> 


    </div>

      <tr>
        <th>Location</th>
        <th>Type</th>
        <th>Description</th>
        <th>Date from</th>
        <th>Time from</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @risks.each do |risk| %>
      <tr>
      <td><%= risk.location.name if risk.location %></td>
        <td><%= risk.type.name if risk.type %></td>
        <td><%= risk.description %></td>
        <td><%= risk.date_from %></td>
        <td><%= risk.time_from %></td>
        <td><%= link_to 'Show', risk %></td>
        <td><%= link_to 'Edit', edit_risk_path(risk) %></td>
        <td><%= link_to 'Destroy', risk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    
    </table>

    <br />

   <%= link_to 'New Risk', new_risk_path %>
