<p id="notice"><%= notice %></p>

<p>
  <b>Location:</b>
  <%= @risk.location.name %>
</p>

<p>
  <b>Type:</b>
  <%= @risk.type.name %>
</p>

<p>
  <b>Description:</b>
  <%= @risk.description %>
</p>

<p>
  <b>Number of periods:</b>
  <%= @risk.periods.count %>
</p>



<%= link_to 'Edit', edit_risk_path(@risk) %> |
<%= link_to 'Back', risks_path %>
