
<h2 class = "login">Login</h2>


<%= simple_form_for(@user_session, :html => {:class => 'form-horizontal' }) do |f|  %>

  <%= f.error_notification %>
  <%= display_base_errors @user_session %>

  <%= f.input :username, wrapper_html: { class: 'username' } %>
  <%= f.input :password, wrapper_html: { id: 'password' } %>
  <%= f.input :remember_me, as: :boolean, inline_label: 'Remember me', label: false %>
  <%= button_tag( :class => "btn btn-info", disable_with: 'processing...') do %>
      Sign in <i class="icon-user icon-white"></i>
  <% end %>

<% end %>
<p>
if u dont have an account  click on sign up </br >
	<%= link_to new_user_path, class: 'btn-mini btn-info btn' do %>
  <i class="icon-plus icon-white"></i> Sign up
<% end %>