<%= link_to "Home", 'home', :class => 'brand' %>
<ul class="nav">
  <% if current_user.present? %>
    <li>
    <%= link_to('Logout', logout_path, :method=>'delete') %>
    </li>

    <li>
    <%= link_to('Risks', risks_path) %>
	</li>

     <li>
    <%= link_to('Periods', periods_path) %>
	</li>
     <li>
    <%= link_to('Edit account', 'edit_user_path') %>
  </li>
     <% end %>
</ul>

<p class = "navbar-text pull-right"> 
    <% if current_user %>
        <%= link_to "logged in as #{current_user.username  }", '#'  %>
    <% else %>
        <%=  %>
    <% end %>
  </p>