

<div class = "risk_icons">

<%= link_to new_user_path, class: 'btn-mini btn-info btn' do %>
  <i class="icon-plus icon-white"></i> 
<% end %> |
	<%= link_to new_user_path, class: 'btn-mini btn-info btn' do %>
  <i class="icon-ok icon-white"></i> 
<% end %> | 
	<%= link_to new_user_path, class: 'btn-mini btn-info btn' do %>
  <i class="icon-tint icon-white"></i> 
<% end %> |
	<%= link_to new_user_path, class: 'btn-mini btn-info btn' do %>
  <i class="icon-time icon-white"></i> 
<% end %>


<br>
<%= simple_form_for risks_url do |f| %>
<fieldset class="scheduler-border">
    <legend class="scheduler-border"><i class="icon-filter icon-black"></i> Filters</legend>
    <div class="control-group">
        <label class="control-label input-label" for="startTime">Risk type :</label>
        <%  types= Type.all %>  
      	<%= select_tag "selected_type", options_from_collection_for_select(types,  "id", "name") %>
      	<label class="control-label input-label" for="startTime">Location name :</label>
      	<%  locations= Location.all %>
        <%= select_tag "selected_location", options_from_collection_for_select(locations,  "id", "name") %>
        <label class="control-label input-label" for="startTime">Begin date :</label>
  	    <input type="text" data-behaviour='datepicker' >
        <label class="control-label input-label" for="startTime">End date :</label>
        <input type="text" data-behaviour='datepicker' >


    </div>
</fieldset>
 <script type="text/javascript">
    $('[data-behaviour~=datepicker]').datepicker();
 </script>
<% end %>
</div>

